.hidden {
    display: none;
  }
  
.radio-image {
  border: 10px solid transparent;
  border-radius: 60%;
  width: 150px;
}

input:checked + .radio-image {
    border: 20px solid rgb(0, 72, 131);
    
}
/*This removes the default radio button*/
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
button{
  border-radius: 12px;
  height: 40px;
  width: 70px;
  background-color:lightgreen;
 position: absolute;
 left: 200px;
}
body{
  position: relative;
  left: 300px;
  background-color: #fee8ad;
 }